
.inputBlock {
  padding: 5px;
  margin: 5px;
}
.inputBlockTitle {
  font-size: medium;
}
.inputRowSubtitle {
  white-space: nowrap;
  font-size: small;
  color: #282828;
}
.inputRow {
  padding: 0.4em;
  border-bottom: 1px solid #2828282d;
}
.inputRow .inputRowLabel  {
  width: 35%;
  text-align: left;
}
.inputElement {
  width: 50%;
  float:right;
}
.saveButtonRow {
  padding-top: 20px;
}